body {
    background-color: #fff0f5;
    color: #4a4a4a;
    font-family: 'Trebuchet MS', sans-serif;
}

h1 {
    color: #ff69b4;
    font-size: 42px;
    text-align: center;
}

h2 {
    color: #ff85a2;
    font-size: 28px;
    font-weight: bold;
}

p {
    font-size: 18px;
    color: #4a4a4a;
    font-family: 'Trebuchet MS', sans-serif;
}

.description {
    color: #ff1493;
    font-size: 18px;
    font-style: italic;
}

#about {
    color: #d1497b;
}

#skills {
    color: #b73a65;
}

#contacts {
    color: #9d2b53;
}

li {
    color: #4a4a4a;
    font-size: 17px;
    font-weight: normal;
}

a {
    color: #ff1493;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin: 0 15px; 
}

.page-header {
    background-color: #ffb6c1;
    color: white;
    text-align: center;
}

.page-footer {
    background-color: #ffb6c1;
    color: white;
    text-align: center;
}

.profile-photo {
    border-radius: 20px;
}

.project {
    color: #4a4a4a;
    background-color: #ffe4e1;
    font-size: 16px;
}